<div class="jumbotron">
  <div>
    <h2 class="text-center">
      {{quiz.Name}}
    </h2>
  </div>
  <form>
    <!-- Student Name -->
    <div *ngIf="!hasName" class="studNameDiv">
      <label for="staticName" class="col-sm-2 col-form-label studNameLabel">Name</label>
      <input type="text" [(ngModel)]="studentName" name="txtName" class="form-control {{isValid}}" id="txtName" placeholder="Please enter your name">
      <div class="invalid-feedback" *ngIf="isValid != null">{{errorMsg}}</div>
    </div>

    <!-- Questions -->
    <div>
      <div class="list-group" *ngFor="let item of items; let i = index">
        <div *ngIf="i == questionIndex">
          <div class="form-group">
            <fieldset>
              <div class="errMsg" *ngIf="noAnswer != null">{{errorMsgNoAnswer}}</div>

              <legend>{{item.Question}}</legend>
              <div *ngIf="item.QuestionTypeId == 1">
                <div class="custom-control custom-radio" *ngFor="let option of item.Options; let idx = index">
                  <input type="radio" id="customRadio{{idx}}" name="customRadio" class="custom-control-input" (change)="onSelectionChange(option, item.Id)">
                  <label class="custom-control-label" for="customRadio{{idx}}">{{option}}</label>
                </div>
              </div>
              <div *ngIf="item.QuestionTypeId == 2">
                <input type="text" [(ngModel)]="answerInput" name="txtAnswer" class="form-control {{noAnswer}}" id="txtAnswer">

                <input type="hidden" #var [value]="item.Id" />

              </div>
            </fieldset>
          </div>

        </div>

      </div>

      <div *ngIf="questionIndex < items.length">
        <button class="btn btn-success pull-right" (click)="next()">Next</button>
      </div>
      <div *ngIf="questionIndex === items.length">
        <button class="btn btn-success pull-right" (click)="back()">Finish</button>
      </div>


    </div>
    <!-- End Of Question -->

    <!-- Result -->
    <div *ngIf="questionIndex == items.length">
      <span>Hi {{studentName}}! </span>
      <span>Your Total Score is {{score}} / {{items.length}}</span>
      <span class="text-success" *ngIf="passed">YOU PASSED </span>
      <span class="text-danger" *ngIf="failed">YOU FAILED </span>
      
    </div>

  </form>
</div>