.hidden {
    visibility: hidden;
}

.errMsg {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #E74C3C;
}

.jumbotron {
    height: 100vh;
    margin-bottom: unset
}

.studNameDiv {
    padding-bottom: 15px
}

.studNameLabel {
    padding-left: 1px;
}

.customBg {
    background-color: rgba(26, 26, 26, 0.08);
}

.alert-success {
    height: 5em;
    text-align: center;
    padding-top: 25px;
}

.alert-danger {
    height: 5em;
    text-align: center;
    padding-top: 25px;
}