.hidden {
    visibility: hidden;
}

.errMsg {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #E74C3C;
}

.jumbotron {
    height: 100vh;
    margin-bottom: unset
}

.studNameDiv {
    padding-bottom: 15px
}

.studNameLabel {
    padding-left: 1px;
}