<div>
  <div>
    <h2 class="text-center">
      {{quiz.Name}}
    </h2>
  </div>
  <form>

    <div *ngIf="!hasName">
      Name:
      <input type="text" [(ngModel)]="studentName" name="txtName" class="form-control" id="txtName">
    </div>

    <div>
      <div class="list-group" *ngFor="let item of items; let i = index">
        <div *ngIf="i == questionindex">
          <div class="form-group">
            <fieldset>
              <legend>{{item.Question}}</legend>
              <div *ngIf="item.QuestionTypeId == 1">
                <div class="custom-control custom-radio" *ngFor="let option of item.Options; let idx = index">
                  <input type="radio" id="customRadio{{idx}}" name="customRadio" class="custom-control-input" (change)="onSelectionChange(option, item.Id)">
                  <label class="custom-control-label" for="customRadio{{idx}}">{{option}}</label>
                </div>
              </div>
              <div *ngIf="item.QuestionTypeId == 2">
                <input type="text" [(ngModel)]="answerInput" name="txtAnswer" class="form-control" id="txtAnswer">

                <input type="hidden" #var [value]="item.Id" />

              </div>
            </fieldset>
          </div>

        </div>

      </div>

      <div *ngIf="questionindex < items.length">
        <button class="btn btn-success pull-right" (click)="next()">Next</button>
      </div>

      <button class="btn btn-success pull-right" (click)="back()">Back</button>
    </div>

    <div *ngIf="questionindex == items.length">
      <span>Student Name: {{studentName}}</span>
      <span>Your Total score is {{score}} / {{items.length}}</span>
    </div>

  </form>
</div>