.bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
}
.customBg {
    background-color: rgba(26, 26, 26, 0.08)
}

.alert-success {
    opacity:1;
    transition:opacity 500ms;
}
.alert-success.fadeOut {
    opacity:0;
}

.alert-danger {
    opacity:1;
    transition:opacity 500ms;
}
.alert-danger.fadeOut {
    opacity:0;
}