<div *ngIf="isLoggedIn && isCreate">
  <h1 class="display-3">Hello, {{ userInfo.Name }}!</h1>
  <button type="button" class="btn btn-warning btn-sm float-right" (click)="back()">Back</button>
</div>


<div *ngIf="isLoggedIn && !isCreate" class="bd-example">
  <h1 class="display-3">Hello, {{ userInfo.Name }}!</h1>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control customBg" id="name" required [(ngModel)]="quiz.Name" name="name">
    </div>

    <div class="form-group">
      <label for="desc">Description</label>
      <input type="text" class="form-control customBg" id="desc" required [(ngModel)]="quiz.Description" name="desc">
    </div>

    <div class="form-group">
      <label for="prep">Description</label>
      <input type="text" class="form-control customBg" id="prep" required [(ngModel)]="quiz.PreparedBy" name="prep">
    </div>

    <div class="form-group">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="isActive" [(ngModel)]="quiz.IsActive" [checked]="quiz.IsActive">
        <label class="custom-control-label" for="isActive">Active</label>
      </div>
    </div>

    <button type="submit" class="btn btn-success btn-sm float-right">Submit</button>

    <button type="button" class="btn btn-secondary btn-sm float-right" (click)="back()">Cancel</button>
  </form>

</div>