.bg {
  // background: url('assets/icons/quizImage.jpg') no-repeat center center;
  position: fixed;
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  padding: 10rem 2rem;
  // background-color: #2b2e3b !important;
  // color: #9feaf9;
  border-radius: unset;
  background:transparent;
}

.keepcentered {
  position:    absolute;
  left:        50%;        /* Start with top left in the center */
  top:         70%;
  width:       190px;      /* The fixed width... */
  height:      100px;      /* ...and height */
  margin-left: -80px;     /* Shift over half the width */
  margin-top:  -50px;      /* Shift up half the height */
}