.bg {
  // background: url('assets/icons/quizImage.jpg') no-repeat center center;
  position: fixed;
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  padding: 10rem 2rem;
  // background-color: #2b2e3b !important;
  // color: #9feaf9;
  border-radius: unset;
  background:transparent;
}

.keepcentered {
  position:    absolute;
  left:        45%;        /* Start with top left in the center */
  top:         70%;
  width:       245px;      /* The fixed width... */
  height:      100px;      /* ...and height */
  margin-left: -60px;     /* Shift over half the width */
  margin-top:  -50px;      /* Shift up half the height */
}

.customBg {
  background-color: rgba(26, 26, 26, 0.08)
}