.bg {
  // background: url('assets/icons/quizImage.jpg') no-repeat center center;
  position: fixed;
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  padding: 10rem 2rem;
  // background-color: #2b2e3b !important;
  // color: #9feaf9;
  border-radius: unset;
  background:transparent;
}