<div *ngIf="isLoggedIn">
  Hello
  <span>{{ userInfo.Name }}</span>
  <h2>List of Quizzes</h2>

  <ul class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let item of quizList">
      <div class="d-flex w-100 justify-content-between">
        {{item.Quiz.Name}}
        <small class="badge badge-primary badge-pill" data-toggle="tooltip" data-placement="right" title="" data-original-title="Quiz items">{{item.ItemCount}}</small>
      </div>
    </a>
  </ul>
</div>


<div *ngIf="!isLoggedIn">
  <div class="card bg-light mb-6" style="max-width: 20rem;">
    <div class="card-header">Please login</div>
    <div class="card-body">

      <form (ngSubmit)="login()">
        <fieldset>
          <div class="form-group">
            <label for="txtUsername">Username</label>
            <input type="text" [(ngModel)]="username" name="username" class="form-control" id="txtUsername">
          </div>
          <div class="form-group">
            <label for="txtPassword">Password</label>
            <input type="password" [(ngModel)]="password" name="password" class="form-control" id="txtPassword">
          </div>
          <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
        </fieldset>
      </form>

    </div>
  </div>
</div>

<!-- <button type="button" class="btn btn-primary" (click)="showPage()">show</button>
<button type="button" class="btn btn-primary" (click)="hidePage()">hide</button> -->