<div *ngIf="!isLoggedIn" class="centerLogin">
  <div class="card bg-light mb-6 loginCard">
    <div class="card-header">
      <legend>Please Login</legend>
    </div>
    <div class="errMsg" *ngIf="userInfo != error && loginBtnClick">Username or Password is invalid!</div>
    <div class="card-body">
      <form (ngSubmit)="login()">
        <fieldset>
          <div class="form-group">
            <label for="txtUsername">Username</label>
            <input type="text" [(ngModel)]="username" name="username" class="form-control" id="txtUsername">
          </div>
          <div class="form-group">
            <label for="txtPassword">Password</label>
            <input type="password" [(ngModel)]="password" name="password" class="form-control" id="txtPassword">
          </div>

          <div class="buttons">
            <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
            <button type="button" class="btn btn-primary" (click)="cancel()">Cancel</button>
          </div>
        </fieldset>
      </form>

    </div>
  </div>
</div>

<!-- Logged In users Page -->
<div class="jumbotron" *ngIf="isLoggedIn">
  <h1 class="display-3">Hello, {{ userInfo.Name }}!</h1>
  <hr class="my-4">

  <form>
    <button type="button" class="btn btn-warning pull-right" (click)="logout()">Logout</button>
  </form>
  <div class="row">
    <div class="col">
      <div class="card border-secondary mb-3 cardWidth">
        <div class="card-body">
          <h3 class="card-title">Quizzes</h3>

          <ul class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start table table-striped" *ngFor="let item of quizList">
              <div class="d-flex w-100 justify-content-between">
                {{item.Quiz.Name}}
                <small class="badge badge-primary badge-pill" title="no. of items">{{item.ItemCount}}</small>

              </div>
            </a>
          </ul>

          <button type="button" class="btn btn-warning pull-right" (click)="addQuiz()">AddQuiz</button>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-secondary mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h3 class="card-title">Quiz Results</h3>

          <ul class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start table table-striped" *ngFor="let item of quizResult">
              <div class="d-flex justify-content-between">
                {{item.Quiz.Name}}
                <small class="badge badge-primary badge-pill" title="no. of students">{{item.StudentCount}}</small>
              </div>
            </a>
          </ul>

        </div>
      </div>
    </div>
  </div>

</div>