.centerLogin {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 40%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

.buttons {
    float: right;
}

.loginCard {
    max-width: 20rem;
}

.errMsg {
    width: 100%;
    margin-top: .5rem;
    font-size: 80%;
    color: #E74C3C;
    padding-left: 1.2rem;
}

.cardWidth {
    max-width: 20rem;
}

.customBg {
    background-color: rgba(26, 26, 26, 0.08)
}

.badge-pill {
    padding-top: 5.5px;
}